apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "buildbuddy.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "buildbuddy.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    helm.sh/chart: {{ include "buildbuddy.chart" . }}
    {{- if .Values.extraPodLabels }}
    {{- .Values.extraPodLabels | toYaml | nindent 4 }}
    {{- end }}
spec:
  {{- if not .Values.autoscaler.enabled }}
  replicas: {{ .Values.replicas | default 1 }}
  {{- end }}
  strategy:
    {{- .Values.strategy | toYaml | nindent 4 }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "buildbuddy.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  {{- if .Values.minReadySeconds}}
  minReadySeconds: {{ .Values.minReadySeconds }}
  {{- end }}
  template:
    metadata:
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "{{ .Values.service.internalMetricsPort }}"
        checksum/config: {{ include (print $.Template.BasePath "/config.yaml") . | sha256sum }}
        {{- if .Values.extraPodAnnotations }}
        {{- .Values.extraPodAnnotations | toYaml | nindent 8 }}
        {{- end }}
      labels:
        app.kubernetes.io/name: {{ include "buildbuddy.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
        app.kubernetes.io/managed-by: {{ .Release.Service }}
        helm.sh/chart: {{ include "buildbuddy.chart" . }}
        {{- if .Values.extraPodLabels }}
        {{- .Values.extraPodLabels | toYaml | nindent 8 }}
        {{- end }}
    spec:
      {{- if .Values.extraInitContainers }}
      initContainers:
      {{- .Values.extraInitContainers | toYaml | nindent 8 }}
      {{- end }}
      {{- if .Values.securityContext }}
      securityContext:
      {{- .Values.securityContext | toYaml | nindent 8 }}
      {{- end }}
      {{- if .Values.affinity}}
      affinity:
        {{- toYaml .Values.affinity | nindent 8 }}
      {{- end }}
      {{- if .Values.nodeSelector}}
      nodeSelector:
        {{- toYaml .Values.nodeSelector | nindent 8 }}
      {{- end }}
      {{- if .Values.tolerations}}
      tolerations:
        {{- toYaml .Values.tolerations | nindent 8 }}
      {{- end }}
      {{- if .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- .Values.topologySpreadConstraints | toYaml | nindent 8 }}
      {{- end }}
      {{- if and .Values.serviceAccount .Values.serviceAccount.name }}
      serviceAccountName: {{ .Values.serviceAccount.name }}
      {{- end }}
      {{- if .Values.runtimeClassName }}
      runtimeClassName: {{ .Values.runtimeClassName }}
      {{- end }}
      containers:
        {{- if .Values.extraContainers }}
        {{- toYaml .Values.extraContainers | nindent 8 }}
        {{- end }}
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.imagePullPolicy }}
          {{- if .Values.customExecutorCommand }}
          command:
          {{- .Values.customExecutorCommand | toYaml | nindent 10}}
          {{- end }}
          {{- if not .Values.customExecutorCommand }}
          args: ["--server_type=buildbuddy-executor"]
          {{- end }}
          resources:
          {{- if .Values.resources }}
            {{- .Values.resources | toYaml | nindent 12 }}
          {{- end }}
          env:
            - name: MY_HOSTNAME
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: MY_NODENAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: K8S_POD_UID
              valueFrom:
                fieldRef:
                  fieldPath: metadata.uid
            {{- if not .Values.config.executor.memory_bytes }}
            - name: SYS_MEMORY_BYTES
              valueFrom:
                resourceFieldRef:
                  resource: limits.memory
            {{- end }}
            {{- if not .Values.config.executor.millicpu }}
            - name: SYS_MILLICPU
              valueFrom:
                resourceFieldRef:
                  resource: limits.cpu
            {{- end }}
            {{- if .Values.poolName }}
            - name: MY_POOL
              value: {{ .Values.poolName }}
            {{- end }}
          {{- if .Values.extraEnvVars }}
            {{- .Values.extraEnvVars | toYaml | nindent 12 }}
          {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.service.internalHTTPPort }}
            - name: grpc
              containerPort: {{ .Values.service.internalGRPCPort }}
            - name: metrics
              containerPort: {{ .Values.service.internalMetricsPort }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: http
              httpHeaders:
                - name: server-type
                  value: buildbuddy-executor
          {{- if .Values.extraLivenessProbeConfig }}
            {{- .Values.extraLivenessProbeConfig | toYaml | nindent 12 }}
          {{- end }}
          readinessProbe:
            httpGet:
              path: /readyz
              port: http
              httpHeaders:
                - name: server-type
                  value: buildbuddy-executor
          {{- if .Values.extraReadinessProbeConfig }}
            {{- .Values.extraReadinessProbeConfig | toYaml | nindent 12 }}
          {{- end }}
          volumeMounts:
            - mountPath: /root/.config/buildbuddy/
              name: user-config-buildbuddy
            - mountPath: /buildbuddy/
              name: executor-data
            - mountPath: /config.yaml
              name: config
              subPath: config.yaml
            {{- if .Values.config.executor.docker_socket }}
            - name: dockersock
              mountPath: /var/run/docker.sock
            {{- end }}
            {{- if .Values.config.executor.enable_podman }}
            - name: containers-lib
              mountPath: /var/lib/containers
            - name: containers-run
              mountPath: /run/containers
            {{- end }}
            {{- if .Values.extraVolumeMounts -}}
            {{ .Values.extraVolumeMounts | toYaml | nindent 12 }}
            {{- end }}
          {{- if .Values.containerSecurityContext }}
          securityContext:
            {{- if or (.Values.config.executor.enable_podman) (.Values.config.executor.enable_oci) (.Values.config.executor.enable_firecracker) }}
            privileged: true
            {{- end }}
            {{- .Values.containerSecurityContext | toYaml | nindent 12 }}
          {{- else if or (.Values.config.executor.enable_podman) (.Values.config.executor.enable_oci) (.Values.config.executor.enable_firecracker) }}
          securityContext:
            privileged: true
          {{- end }}
      volumes:
        - name: user-config-buildbuddy
          emptyDir: {}
        - name: executor-data
          {{- if .Values.executorDataVolumeHostPath }}
          hostPath:
            path: {{ .Values.executorDataVolumeHostPath }}
          {{- else }}
          emptyDir: {}
          {{- end }}
        - name: config
          secret:
            secretName: {{ include "buildbuddy.fullname" . }}-config
        {{- if .Values.config.executor.docker_socket }}
        - name: dockersock
          hostPath:
            path: /var/run/docker.sock
        {{- end }}
        {{- if .Values.config.executor.enable_podman }}
        - name: containers-lib
          {{- if .Values.podmanGraphRootVolumeHostPath }}
          hostPath:
            path: {{ .Values.podmanGraphRootVolumeHostPath}}
          {{- else }}
          emptyDir: {}
          {{- end }}
        - name: containers-run
          {{- if .Values.podmanRunRootVolumeHostPath }}
          hostPath:
            path: {{ .Values.podmanRunRootVolumeHostPath}}
          {{- else }}
          emptyDir: {}
          {{- end }}
        {{- end }}
        {{- if .Values.extraVolumes -}}
        {{ .Values.extraVolumes | toYaml | nindent 8 }}
        {{- end }}
