apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ include "buildbuddy.fullname" . }}-config
  labels:
    app.kubernetes.io/name: {{ include "buildbuddy.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    helm.sh/chart: {{ include "buildbuddy.chart" . }}
data:
  {{- /* Make a deep enough copy of the default config */}}
  {{- $c := dict }}
  {{- range $key, $dictVal := .Values.config }}
  {{- $dictCopy := merge (dict) $dictVal }}
  {{- $_ := set $c $key $dictCopy }}
  {{- end }}

  {{- /* Update the copied default config based on .Values */}}

  {{- if and .Values.config.database.data_source .Values.mysql.enabled}}
  {{- $message := "Either enable mysql with mysql.enabled or configure a data_source in config, not both!\n\nconfig:\n  database:\n    data_source:: ..." }}
  {{- print "\n\nDIRECT CONFIGURATION NOT SUPPORTED:\n-----------------------------------\n\n" $message | fail }}
  {{- end }}

  {{- if .Values.mysql.enabled }}
  {{- $_ := set $c.database "data_source" (print "mysql://" .Values.mysql.mysqlUser ":" .Values.mysql.mysqlPassword "@tcp(" .Release.Name "-mysql:3306)/" .Values.mysql.mysqlDatabase) }}
  {{- else if not .Values.config.database.data_source }}
  {{- $_ := set $c.database "data_source" "sqlite3:///tmp/buildbuddy-enterprise.db" }}
  {{- end }}

  {{- if .Values.memcached.enabled }}
  {{- $_ := set $c.cache "memcache_targets" (toStrings (print .Release.Name "-memcached:11211")) }}
  {{- end }}

  {{- if .Values.ingress.controller.extraVolumeMounts }}
  {{- $_ := set $c.ssl "client_ca_cert_file" "/client-ca/tls.crt" }}
  {{- $_ := set $c.ssl "client_ca_key_file" "/client-ca/tls.key" }}
  {{- end }}

  {{- /* Render the processed config as an encoded YAML string */}}
  {{- /* NOTE: Mounted at /config.yaml on the buildbuddy pod */}}
  config.yaml: {{ $c | toYaml | b64enc }}
