dependencies:
  - name: metrics-server
    version: 3.11.0
    repository: https://kubernetes-sigs.github.io/metrics-server/
    condition: prometheus.enabled
  - name: prometheus
    version: 15.14.0
    repository: https://prometheus-community.github.io/helm-charts
    condition: prometheus.enabled
  - name: prometheus-adapter
    version: 3.4.0
    repository: https://prometheus-community.github.io/helm-charts
    condition: prometheus.enabled
