## Default values for BuildBuddy Enterprise.
## This is a YAML-formatted file.
## Declare variables to be passed into your templates.

## The BuildBuddy Executor container image to use.
image:
  repository: gcr.io/flame-public/buildbuddy-executor-enterprise
  tag: enterprise-v2.2.5
  imagePullPolicy: IfNotPresent

## The number of executor replicas to run.
replicas: 3

## The name of the executor pool for this deployment.
# poolName: high-memory-pool

## The default resources to give the app.
resources:
  limits:
    cpu: "2"
    memory: "10Gi"
  requests:
    cpu: "1"
    memory: "5Gi"

## Configures what port the BuildBuddy executors operate on.
service:
  internalHTTPPort: 8080
  internalGRPCPort: 1985
  internalMetricsPort: 9090

# Required to enable autoscaling based on custom metrics
prometheus:
  enabled: false

prometheus-adapter:
  prometheus:
    url: http://{{ .Release.Name }}-prometheus-server
    port: 80
  rules:
    default: false
    custom:
      - seriesQuery: 'buildbuddy_remote_execution_queue_length{kubernetes_pod_name!="",kubernetes_namespace!=""}'
        resources:
          overrides:
            kubernetes_namespace: { resource: "namespace" }
            kubernetes_pod_name: { resource: "pod" }
        metricsQuery: sum (<<.Series>>{<<.LabelMatchers>>}) by (<<.GroupBy>>) 
        name:
          matches: "^(.*)$"
          as: "${1}"

autoscaler:
  enabled: false
#   minReplicas: 3
#   maxReplicas: 100
#   averageCPU: 90
#   averageMemory: 50
#   averageQueueLength: 5

# NOTE: These acts as the default values for the config.yaml file read by the
# buildbuddy server itself. You can override the config object just like any
# Helm template value. Since it is an object, the object you provide will merge
# with these defaults.
config:
  executor:
    # app_target: "grpcs://your.buildbuddy.install:443" # auto populated if deploying via buildbuddy-enterprise chart
    root_directory: "/buildbuddy/remotebuilds/"
    local_cache_directory: "/buildbuddy/filecache/"
    local_cache_size_bytes: 5000000000 # 5GB
    docker_socket: /var/run/docker.sock

## Additional env vars
extraEnvVars: []

## Additional init containers
extraInitContainers: []

# Add additional volumes and mounts
extraVolumes: []
extraVolumeMounts: []
